.wrap{
    width: 1300px;
    margin: 0 auto;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 50px 90px 30px;
}
.item .row{
    width: 368px;
    display: flex;
}
.row-img{
    margin-right: 12px;
}
.row-img img{
    width: 56px;
    vertical-align: middle;
}
.row-text,.row-text-m,.row-text-b{
    color: #37523d;
}
.row-text h6,.row-text-m h6,.row-text-b h6{
    font-size: 18px;
    margin-bottom: 24px;
    margin-top: 14px;
}
.row-text p,.row-text-m p,.row-text-b p{
    font-size: 15px;
}
.item-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 45px 93px 42px;  
    margin-left: 42px;
}
.item-center .row{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.item-center img{
    width: 92px;
    vertical-align: middle;
}
.item-center p{
    font-size: 14px;
    width: 360px;
    text-align: center;
}
.item-start .row{
    display: flex;
    align-items: center;
}
.item-start img,.item-end img{
    width: 134px;
    vertical-align: middle;
}
.item-start img{
    margin-right: 12px;
    margin-left: 30px;
}
.row-text-b h6{
    margin-top: 45px;
}
.item-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
}
.item-end .row{
    display: flex;
    flex-direction: row-reverse;
}
.item-end img{
    margin-right: 30px;
    margin-left: 10px;
}